<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darksunTechnologies.hostellife">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hostel_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hostel_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.HostelLife">
        <activity
            android:name="com.darksunTechnologies.hostellife.forgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.darksunTechnologies.hostellife.registerActivity"
            android:exported="false" />
        <activity
            android:name="com.darksunTechnologies.hostellife.loginForm"
            android:exported="false" />
        <activity
            android:name="com.darksunTechnologies.hostellife.updateDataStaff"
            android:exported="false" />
        <activity
            android:name="com.darksunTechnologies.hostellife.updateData"
            android:exported="false" />
        <activity
            android:name="com.darksunTechnologies.hostellife.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.darksunTechnologies.hostellife.AddStaff"
            android:exported="false" />
        <activity
            android:name="com.darksunTechnologies.hostellife.AddStudent"
            android:exported="false" />
        <activity
            android:name="com.darksunTechnologies.hostellife.MainActivity"
            android:exported="false" />
    </application>

</manifest>